Cython==0.29.33
librosa==0.10.0
matplotlib==3.7.0
numpy==1.22.4
scipy
tensorboard
torch
torchvision
unidecode
jamo
pypinyin==0.48.0
jieba
protobuf
cn2an
inflect
eng_to_ipa
ko_pron
indic_transliteration
opencc
